
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
/api/log/
/scraper/logs

# Rails / Ruby
/scoopy-api/log/
/scoopy-api/tmp/
/scoopy-api/tmp/*
!scoopy-api/tmp/.keep
/scoopy-api/tmp/cache/
/scoopy-api/tmp/cache/*
/scoopy-api/tmp/cache/bootsnap/
/scoopy-api/tmp/cache/bootsnap/*
/vendor/bundle

# Environment
.env
.env.*

# Node
/scraper/node_modules/

# OS / misc
.DS_Store
/.bundle

